{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="top-navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">krke</a>
		</div>
		<form class="navbar-form navbar-right" action="/search" method="POST" id="music-search-form">
			<input id="music-search" class="form-control" type="search" name="music-search" placeholder="Search for music...">
			<button class="btn" id="music-search-submit" type="submit" name="music-search-submit">Submit</button>
		</form>
	</div>
</nav>
{% endblock %}

{% block content %}
<main role="main">
</main>

{% raw %}
<script id="song-card" type="text/x-jsrender">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="{{:track.album_coverart_350x350}}" alt="...">
			<div class="caption">
			<h3>'{{:track.track_name}}' by {{:track.artist_name}}</h3>
			</div>
		</div>
	</div>
</script>
{% endraw %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src='/static/js/jsrender.js'></script>
<script src='/static/js/krke.js'></script>
<script src='/static/js/controls.js'></script>
{% endblock %}
